/* Стили для всего сайта */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Позиционирование картинки в правом верхнем углу */
img#avatar {
    position: absolute;
    top: 300px; /* Расстояние от верха экрана */
    right: 50px; /* Расстояние от правого края экрана */
    width: 400px; /* Размер картинки */
    border-radius: 50%; /* Сделать круглую аватарку */
}